<div class="cont" style="text-align: center">
  <h1>Timely</h1>
  <button (click)="initNewProject()">Start</button>
  <table *ngIf="time" style="text-align: center;">
    <thead>
      <tr>
        <th>Name</th>
        <th>Start Date</th>
        <th>Finish Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let proj of projects">
        <td>{{ proj.startDate | date : "dd.MM.YYYY. HH:mm:ss" }}</td>
        <td>{{ proj.name }}</td>
        <td>{{ proj.endDate | date : "dd.MM.YYYY. HH:mm:ss" }}</td>
        <td><button (click)="editProject(proj)">Edit</button></td>
      </tr>
    </tbody>
  </table>

  <app-project
    [project]="projectToEdit"
    (projectsUpdated)="updateProjectList($event)"
  ></app-project>
</div>
